@model IEnumerable<SfiziAmerica.EntityLayer.Model.Catering>
@{
    ViewData["Title"] = "Catering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- content  -->
<div class="content">
    <!--  section  -->
    <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
        <div class="bg par-elem " data-bg="/Site/images/bg/10.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="section-title">
                <h4 title="Special catering offers.">Special catering offers.</h4>
                <h2 title="Discover Our menu">Discover Our menu</h2>
                <div class="dots-separator fl-wrap"><span></span></div>
            </div>
        </div>
        <div class="hero-section-scroll">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
        <div class="brush-dec"></div>
    </section>
    <!--  section  end-->
    <!--  section  -->
    <section>
        <nav class="scroll-nav scroll-init">
            <ul>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <li><a class="scroll-link" href="#@item.Slug" title="@item.Title"><span>@item.Title</span></a></li>
                    }
                }
                else
                {
                    <li><a class="scroll-link" href="#menu-section-1"><span>Main dishes</span></a></li>
                    <li><a class="scroll-link" href="#menu-section-2"><span>Starter</span></a></li>
                    <li><a class="scroll-link" href="#menu-section-3"><span>Sea Food</span></a></li>
                    <li><a class="scroll-link" href="#menu-section-4"><span>Desserts</span></a></li>
                    <li><a class="scroll-link" href="#menu-section-5"><span>Drinks</span></a></li>
                }
            </ul>
        </nav>
        <div class="brush-dec2 brush-dec_bottom"></div>
        <div class="container">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <!-- menu-wrapper-->
                    <div class="menu-wrapper single-menu fl-wrap" id="@item.Slug" data-scrollax-parent="true">
                        <div class="menu-wrapper-title fl-wrap">
                            <div class="menu-wrapper-title-item">
                                <h4>@item.Title</h4>
                                <h5>@item.ShortDescription</h5>
                            </div>
                            <div class="bg par-elem " data-bg="/Image/Catering/@item.ImageUrl" data-scrollax="properties: { translateY: '40%' }"></div>
                            <div class="overlay"></div>
                        </div>
                        @foreach (var item2 in item.CateringMenus.Where(x => x.CateringID == item.ID).OrderBy(x => x.Title).ToList())
                        {
                            <!-- hero-menu-item-->
                            <div class="hero-menu-item">
                                <a href="/Image/Catering/@item2.ImageUrl1" class="hero-menu-item-img image-popup"><img src="/Image/Catering/@item2.ImageUrl1" alt="@item.Title"></a>
                                <div class="hero-menu-item-title fl-wrap">
                                    <h6 title="@item2.Title">  @item2.Title</h6>
                                    <div class="hmi-dec"></div>
                                    @if (item2.DiscountPrice > 0)
                                    {
                                        <span class="hero-menu-item-price">$@item2.DiscountPrice</span>
                                    }
                                    else
                                    {
                                        <span class="hero-menu-item-price">$@item2.Price</span>
                                    }
                                </div>
                                <div class="hero-menu-item-details">
                                    <p>@item2.ShortDescription  </p>
                                </div>
                            </div>
                            <!-- hero-menu-item end-->
                        }
                    </div>
                    <!-- menu-wrapper end-->
                    <div class="dots-separator fl-wrap"><span></span></div>
                    <!-- menu-wrapper-->
                }
            }
        </div>
        <div class="section-bg">
            <div class="bg" data-bg="/Site/images/bg/dec/section-bg.png"></div>
        </div>
    </section>
</div>
<!-- content end  -->