<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewBag.Seo != null)
    {
        <title>@ViewBag.Seo.seoTitle</title>
        <meta name="robots" content="index, follow, archive" />
        <meta name="keywords" content="@ViewBag.Seo.seoDescription" />
        <meta name="description" content="@ViewBag.Seo.seoDescription" />
        <meta property="og:title" content="@ViewBag.Seo.seoTitle" />
        <meta property="og:keywords" content="@ViewBag.Seo.seoKeywords" />
        <meta property="og:description" content="@ViewBag.Seo.seoDescription" />
        <meta property="og:url" content="@Context.Request.Path" />
        <meta property="twitter:card" content="@ViewBag.Seo.seoTwitterTitle" />
        <meta name="twitter:title" content="@ViewBag.Seo.seoTwitterTitle" />
        <meta name="twitter:description" content="@ViewBag.Seo.seoTwitterDescription" />
        <meta property="twitter:url" content="@ViewBag.Seo.seoTwitterUrl" />
        <meta name="author" content="@ViewBag.Seo.seoAuthor">
        <link rel="canonical" href="@Context.Request.Path">
        <meta http-equiv="content-language" content="tr">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859">
        <meta name="publisher" content="Ceday Tarım Teknolojisi" />
        <meta name="reply-to" content="@ViewBag.Seo.seoReply" />
        <meta name="revisit-after" content="10 days" />
        <meta name="abstract" content="Sfizi">
    }
    <title>Sfizi</title>
    <partial name="_partialHead" />
</head>
<body>
    <!-- lodaer  -->
    <div class="loader-wrap">
        <div class="loader-item">
            <div class="cd-loader-layer" data-frame="25">
                <div class="loader-layer"></div>
            </div>
            <span class="loader"></span>
        </div>
    </div>
    <!-- loader end  -->
    <div id="main">
        <partial name="_partialHeaderMenu" />
        <div id="wrapper">
            @RenderBody()
            <div class="height-emulator fl-wrap"></div>
            <footer class="fl-wrap dark-bg fixed-footer">
                <div class="container">
                    <div class="footer-top fl-wrap">
                        <a href="/" class="footer-logo"><img src="/Site/sfizi-logo.png" alt="Sfizi Cafe"></a>
                        <div class="footer-social">
                            <span class="footer-social-title">Follow us :</span>
                            <ul>
                                @await Component.InvokeAsync("SocialMediaComponentList")
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget-wrap -->
                    <div class="footer-widget-wrap fl-wrap">
                        <div class="row">
                            <!-- footer-widget -->
                            <div class="col-md-6">
                                <div class="footer-widget">
                                    <div class="footer-widget-title">About us</div>
                                    @await Component.InvokeAsync("FooterAboutCoımponent")
                                </div>
                            </div>
                            <!-- footer-widget  end-->
                            <!-- footer-widget -->
                            <div class="col-md-6">
                                <div class="footer-widget">
                                    <div class="footer-widget-title">Contact info  </div>
                                    <div class="footer-widget-content">
                                        <div class="footer-contacts footer-box fl-wrap">
                                            <ul>
                                                @await Component.InvokeAsync("FooterContactInformationComponent")
                                            </ul>
                                        </div>
                                        <a href="/contact" class="footer-widget-content-link">Get in Touch</a>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget  end-->
                        </div>
                    </div>
                    <!-- footer-widget-wrap end-->
                    <div class="footer-bottom fl-wrap">
                        <div class="copyright">&#169; Restabook 2020 . All rights reserved. </div>
                        <div class="to-top"><span>Back To Top </span><i class="fal fa-angle-double-up"></i></div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->
        </div>
        <!-- cursor-->
        <div class="element">
            <div class="element-item"></div>
        </div>
        <!-- cursor end-->
    </div>
    <partial name="_partialScript" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
