@model SfiziAmerica.WebUIandUX.Areas.Admin.ViewModel.updateUserMemberViewModel
@{
    ViewData["Title"] = "Update New User Member";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="/PageJs/updateUserMember.js"></script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Update New User Member</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="form-submit">
                            <input hidden name="ID" value="@Model.UserMember.ID" />
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Role Name</label>
                                <select name="UserRoleID" required class="form-select">
                                    @foreach (var language in Model.UserRoles)
                                    {
                                        if (Model.UserMember.UserRoleID == language.ID)
                                        {
                                            <option selected value="@language.ID">@language.RoleName</option>
                                        }
                                        else
                                        {
                                            <option value="@language.ID">@language.RoleName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Name Surname</label>
                                <input type="text" class="form-control" name="NameSurname" value="@Model.UserMember.NameSurname" maxlength="75" required placeholder="Please Enter Name Surname" />
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Email</label>
                                <input type="email" class="form-control" name="Email" maxlength="75" value="@Model.UserMember.Email" required placeholder="Please Enter Email" />
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Phone</label>
                                <input type="tel" class="form-control" name="Phone" maxlength="15" value="@Model.UserMember.Phone" required placeholder="Please Enter Phone" />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" name="Password" value="@Model.UserMember.Password" class="form-control" placeholder="Please Enter Your Password">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Status</label>
                                <select required name="IsActive" class="form-select">
                                    @if (Model.UserMember.IsActive == true)
                                    {
                                        <option selected value="1">Aktif</option>
                                        <option value="0">Pasif</option>
                                    }
                                    else
                                    {
                                        <option value="1">Aktif</option>
                                        <option selected value="0">Pasif</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-primary d-inline-block"><i class="fa fa-edit"></i> Update New User Member</button>
                                <a href="/admin/kullanici-listele" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Back To List</a>
                            </div>
                        </form>
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div><!-- end col -->
</div>
<!-- end row -->