@model PageMenuModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- wrapper  -->
<div id="wrapper">
    <!-- content  -->
    <div class="content">
        <!--  section  -->
        <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
            <div class="bg par-elem " data-bg="/Image/Menu/@Model.MenuCategory.ImageUrl1" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="section-title">
                    <h4 @Model.MenuCategory.Title>@Model.MenuCategory.Title</h4>
                    <h2>Discover Our menu</h2>
                    <div class="dots-separator fl-wrap"><span></span></div>
                </div>
            </div>
            <div class="hero-section-scroll">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <div class="brush-dec"></div>
        </section>
        <!--  section  end-->
        <!--  section  -->
        <section>
            <nav class="scroll-nav scroll-init">
                <ul>
                    @foreach (var item in Model.MenuCategories.Where(x => x.MenuCategoryID == Model.MenuCategory.ID).OrderBy(x => x.Rank).ToList())
                    {
                        <li><a class="scroll-link" href="#@item.Slug"><span>@item.Title</span></a></li>
                    }
                </ul>
            </nav>
            <div class="brush-dec2 brush-dec_bottom"></div>
            <div class="container">
                @foreach (var subMenu in Model.MenuCategories.Where(x => x.MenuCategoryID == Model.MenuCategory.ID))
                {
                    <!-- menu-wrapper-->
                    <div class="menu-wrapper single-menu fl-wrap" id="menu-section-1" data-scrollax-parent="true">
                        <div class="menu-wrapper-title fl-wrap">
                            <div class="menu-wrapper-title-item">
                                <h4 title="@subMenu.Title">@subMenu.Title</h4>
                            </div>
                            <div class="bg par-elem " data-bg="/Image/Menu/@subMenu.ImageUrl1" data-scrollax="properties: { translateY: '40%' }"></div>
                            <div class="overlay"></div>
                        </div>
                        @foreach (var menuList in subMenu.CategoryMenus.Select(x => x.Menu))
                        {
                            <!-- hero-menu-item-->
                            <div class="hero-menu-item">
                                <a href="/Image/Menu/@menuList.ImageUrl1" class="hero-menu-item-img image-popup"><img src="/Image/Menu/@menuList.ImageUrl1" alt="@menuList.Title"></a>
                                <div class="hero-menu-item-title fl-wrap">
                                    <h6 title="@menuList.Title">  @menuList.Title</h6>
                                    <div class="hmi-dec"></div>
                                    @if (menuList.DiscountPrice != 0)
                                    {
                                        <span class="hero-menu-item-price">$@menuList.DiscountPrice</span>
                                    }
                                    else
                                    {
                                        <span class="hero-menu-item-price">$@menuList.Price</span>
                                    }
                                </div>
                                <div class="hero-menu-item-details">
                                    <p>@Html.Raw(menuList.ShortDescription)</p>
                                </div>
                            </div>
                            <!-- hero-menu-item end-->
                        }

                    </div>
                }
            </div>
            <div class="section-bg">
                <div class="bg" data-bg="/Site/images/bg/dec/section-bg.png"></div>
            </div>
        </section>
    </div>
    <!-- content end  -->
</div>
<!-- wrapper end -->