@model IEnumerable<SfiziAmerica.EntityLayer.Model.Logo>
@{
    ViewData["Title"] = "Logo Listele";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="/PageJs/logo.js"></script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Logo Listele</h4>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Başlık</th>
                            <th>Logo</th>
                            <th>Alt Etiket</th>
                            <th>Ekleme Tarih</th>
                            <th>Güncelleme Tarih</th>
                            <th>Statü</th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td><img src="/Image/Logo/@item.LogoUrl" width="100" /></td>
                                <td>@item.ImageAltTag</td>
                                <td>@item.CreateDate.ToShortDateString()</td>
                                <td>@item.LastDate.ToShortDateString()</td>
                                @if (item.IsActive)
                                {
                                    <td>Aktif</td>
                                }
                                else
                                {
                                    <td>Pasif</td>
                                }
                                <td>
                                    <a href="/admin/logo-guncelle/@item.ID" class="btn btn-sm btn-primary"><i class='fa fa-edit'></i></a>
                                    <button data-id="@item.ID" class="btn btn-danger btn-sm btnDelete"><i class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- end row -->