@model SfiziAmerica.WebUIandUX.Models.ViewModel.ContactViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- content  -->
<div class="content">
    <!--  section  -->
    <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
        <div class="bg par-elem " data-bg="/Site/images/bg/10.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="section-title">
                <h4>Enjoy your time in our restaurant with pleasure.</h4>
                <h2>Contact our Restaurant</h2>
                <div class="dots-separator fl-wrap"><span></span></div>
            </div>
        </div>
        <div class="hero-section-scroll">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
        <div class="brush-dec"></div>
    </section>
    <!--  section  end-->

    <section class="hidden-section big-padding con-sec" data-scrollax-parent="true" id="sec3">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="section-title text-align_left">
                        <h2>Get in touch</h2>
                        <div class="dots-separator fl-wrap"><span></span></div>
                    </div>
                    <div class="contactform-wrap">
                        <div id="message"></div>
                        <form class="custom-form" action="/contact" method="post">
                            <div class="row">
                                @if (ViewBag.Hata != null)
                                {
                                    <div class="col-sm-12" style="background-color:red">
                                        <div class="alert alert-danger">
                                            <p class="text-white">@ViewBag.Hata</p>
                                        </div>
                                    </div>
                                    <hr />
                                }
                                @if (ViewBag.Mesaj != null)
                                {
                                    <div class="col-sm-12" style="background-color:palegreen">
                                        <div class="alert alert-success">
                                            <p class="text-black">@ViewBag.Mesaj</p>
                                        </div>
                                    </div>
                                    <hr />
                                }
                                <div class="col-sm-6">
                                    <input type="text" name="NameSurname" placeholder="Your Name *" required />
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" name="Email" placeholder="Email Address *" required />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="15" name="Phone" placeholder="Phone *" required />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="110" name="Subject" required placeholder="Subject*" />
                                </div>
                            </div>
                            <textarea name="Message" cols="40" rows="3" placeholder="Your Message:"></textarea>
                            <div class="clearfix"></div><br />
                            <div class="g-recaptcha" data-sitekey="6Ldm9uciAAAAAHoTITQOTWp0gIhV8r92rY7Qb-wr"></div><br />
                            <div class="clearfix"></div>
                            <button class="btn float-btn flat-btn color-bg" id="submit_cnt">Send Contact us <i class="fal fa-long-arrow-right"></i></button>
                        </form>
                    </div>
                    <div class="section-dec sec-dec_top"></div>
                </div>
                <div class="col-md-5">
                    <!-- map-view-wrap -->
                    <div class="map-view-wrap_item">
                        <div class="contact-details">
                            <h4>Contacts Details</h4>
                            <ul>
                                @if (ViewBag.contactInformation != null)
                                {
                                    <li><span><i class="fal fa-map-marked-alt"></i> Adress :</span> <a href="#">@ViewBag.contactInformation.Address</a></li>
                                    <li><span><i class="fal fa-phone-rotary"></i> Phone :</span> <a href="tel:@ViewBag.contactInformation.Phone">@ViewBag.contactInformation.Phone</a></li>
                                    <li><span><i class="fal fa-mailbox"></i> Mail :</span> <a href="mailto:@ViewBag.contactInformation.Email">@ViewBag.contactInformation.Email</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!--map-view-wrap end -->
                </div>
            </div>
        </div>
        <div class="section-bg">
            <div class="bg" data-bg="/Site/images/bg/dec/section-bg.png"></div>
        </div>
    </section>
    <!--  section end  -->
    <div class="brush-dec2 brush-dec_bottom"></div>
</div>
<!-- content end  -->